.datePickerContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  min-height: 10vh;
}

.datePickerButton {
  margin-right: 20px;
  color: gray;
  background-color: white;
  border: 1px solid rgb(204, 204, 204);
  background: linear-gradient(45deg, #ffffff, #e0f7fa);
}

.datePickerButton:hover {
  border-width: 1.5px;
  color: gray;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  margin: 0;
  font-size: 2rem;
}

.addNoteButton {
  border: 2px solid rgb(228, 228, 228);
  font-family: "Roboto", sans-serif;
  color: #9b9b9b;
  background: linear-gradient(45deg, #ffffff, #e0f7fa);
}

.addNoteButton:hover {
  border: 2px solid rgb(228, 228, 228);
  color: gray;
}
