.form {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #535353;
  font-weight: 500;
}

.noResize {
  resize: none;
}

.customHeader {
  color: #535353;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}
